<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/formValidationStyle.css"/>
    <link rel="stylesheet" href="/cssSchool/schoolStyle.css"/>
</head>
<body>
    <div class="bg-dark text-center" style="height: 120px">
        <h1 class="pt-3 text-light">School Journal</h1>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>