@{
    Layout = "_MainLayout";
    ViewBag.Title = "Помилка";
}
<div class="text-center">
    <h3 class="text-danger">При обробці вашого запиту виникла помилка!</h3>
    <h5 class="text-danger">Ми вже займаємося цим ;)</h5>
</div>

