@{
    Layout = "_MainLayout";
    ViewBag.Title = "Ви вдало додали журнал!";
}
<h3 class="text-center text-success mt-3 mb-3">Ви вдало додали журнал!</h3>
<div class="row justify-content-center">
    <div class="col-auto">
        <a asp-action="JournalsList" class="btn btn-primary">Повернутись до списку журналів</a>
        <a asp-action="AddJournalClassSelect" class="btn btn-success">Додати ще один журнал</a>
    </div>
</div>
