@model List<Class>
@{
    Layout = "_MainLayout";
    ViewBag.Title = "Список розкладів";
}
<h4 class="text-center mb-4 mt-3">Список розкладів для всіх класів</h4>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table">
        @foreach(Class c in Model)
        {
            <tr>
                <td class="text-center">Розклад для @c.Title</td>
                <td class="text-center"><a asp-action="AdminSchedule" asp-route-fkClass="@c.Id" 
                    class="btn btn-sm btn-primary">Переглянути</a></td>
            </tr>        
        }
        </table>
    </div>
</div>
