@model List<Journal>
@{
    Layout = "_MainLayout";
    ViewBag.Title = "Список предметів";
}
<h4 class="mt-3 mb-3 text-center">Оберіть предмет для перегляду успішності</h4>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table">
            @foreach(Journal j in Model)
            {
                <tr>
                    <td>@j.FkTeacherSubjectNavigation.FkSubjectNavigation.Title</td>
                    <td>
                        <a asp-action="AcademicPerformance" asp-route-fkJournal="@j.Id" 
                            asp-route-fkStudent="@Context.Session.GetInt32("StudentId")"
                            class="btn btn-sm btn-primary">Переглянути</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

